#!/bin/sh

cd <%= node['gitlab'][@options[:rails_app]]['dir'] %>/working

<% if @options[:metrics_dir].nil? -%>
export prometheus_run_dir=''
<% else -%>
# Setup run directory.
mkdir -p <%= @options[:metrics_dir] %>
rm <%= File.join(@options[:metrics_dir], '*.db') %> 2> /dev/null
chmod 0700 <%= @options[:metrics_dir] %>
chown <%= @options[:user] %> <%= @options[:metrics_dir] %>
export prometheus_run_dir='<%= @options[:metrics_dir] %>'
<% end -%>

exec 2>&1
<%= render("mount_point_check.erb") %>
exec chpst -e /opt/gitlab/etc/<%= @options[:rails_app] %>/env -P \
  -U <%= @options[:user] %> -u <%= @options[:user] %> \
  /usr/bin/env \
    prometheus_multiproc_dir="${prometheus_run_dir}" \
    /opt/gitlab/embedded/bin/bundle exec sidekiq \
      -C /opt/gitlab/embedded/service/<%= @options[:rails_app] %>/config/sidekiq_queues.yml \
      -e <%= node['gitlab'][@options[:rails_app]]['environment'] %> \
      -r /opt/gitlab/embedded/service/<%= @options[:rails_app] %> \
      -t <%= @options[:shutdown_timeout] %> \
      -c <%= @options[:concurrency] %>
